.firstRow {
  align-self: center;
  flex-wrap: wrap;
  align-content: center;
}

.container {
  width: 100%;
  height: 100vh;
  margin: 20px 20px 20px 0px;
  align-content: center;
  justify-content: center;
  overflow-y: scroll;
}

.poster {
  height: 300px;
  width: 180px;
}

.centerCol {
  height: 100%;
  width: 50%;
  flex-wrap: wrap;
  align-content: center;
}

.rating {
  color: gold;
}

// .imageContainer{
//     width: 20%;
//     height: 60%;
// }
.secondRow {
  align-self: center;
  height: 20%;
  width: 90%;
}

.thirdRow {
  margin-bottom: 10%;
  align-self: center;
  height: 40%;
  width: 90%;
}

// .mat-card-content>:first-child, .mat-card>:first-child{
//     color: red;
// }
.mat-card {
  max-width: 180px;
  width: 180px;
  margin: 10px 0px;
}

.mat-card {
  img {
    width: 182px;
    height: 150px;
  }
}

.people {
  width: 100%;
}

.theater-picker {
  flex-direction: row;

  .datePicker {
    width: 150px;
    padding-right: 20px;
    min-width: 150px;
  }

  .select-theater {
    width: 150px;
    min-width: 150px;
  }
}

.role {
  word-wrap: break-word;
}

.toggleGroup {
  height: 30px;
  align-items: center;
}

:host /deep/ .mat-select-value {
  color: white;
}

:host /deep/ .mat-datepicker-toggle-default-icon {
  color: #3892ce;
}

:host /deep/ .mat-select-arrow {
  color: #3892ce;
}
