.cardContent {
  width: 150px;
  min-width: 10px;
  max-width: 250px;
  margin-top: 20px;
}

:host /deep/ .mat-select-value {
  color: #fff !important;
}

:host /deep/.mat-form-field-label {
  color: #fff;
}

.accept {
  margin-left: 40%;
  margin-top: 8%;
}
